<div class="resume-section-content">
    <form method="post">
        <h3 class="mb-2">MESAJ GÖNDEREREK BENİMLE İLETİŞİME GEÇEBİLİRSİNİZ</h3>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />
        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />
        <label>Mesaj</label>
        <textarea name="Mesaj" class="form-control" rows="5"></textarea>
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
