@using MvcCv.Models.Entity
@model List<TblEgitimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>EĞİTİMLERİM</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Üniversite / Lise İsmi</th>
            <th>Fakülte / Alan İsmi</th>
            <th>Bölüm/ Açıklama</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Baslik</td>
                <td>@item.AltBaslik1</td>
                <td>@item.AltBaslik2</td>

                <td>
                    <a href="/Egitim/EgitimDuzenle/@item.ID" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Düzenle
                    </a>
                </td>

                <td>
                    <a href="/Egitim/EgitimSil/@item.ID" class="btn btn-danger btn-sm" onclick="return confirm('Bu projeyi silmek istediğinize emin misiniz?');">
                        <i class="fas fa-trash"></i> Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Eğitim Ekle</a>